<p-toast key="mensagemDeErro" position="top-center"></p-toast>

<div id="cadastro" class="p-fluid">
    <div class="p-field" class="campo">
        <label for="nome" class="label">Nome</label> <br>
        <input id="nome" type="text" [(ngModel)]="usuario.nome" pInputText pTooltip="O nome pode ter no máximo 50 caracteres." 
        tooltipPosition="right" tooltipEvent="focus" showDelay="200" hideDelay="200" class="input"> <br>
    </div>
    <div class="p-field" class="campo">
        <label for="login" class="label">Login</label> <br>
        <input id="login" type="text" [(ngModel)]="usuario.login" pInputText pTooltip="O login deve ter de 5 a 20 caracteres." 
        tooltipPosition="right" tooltipEvent="focus" showDelay="200" hideDelay="200" class="input"> <br>
    </div>
    <div class="p-field" class="campo">
        <label for="email" class="label">Email</label> <br>
        <input id="email" type="email" [(ngModel)]="usuario.email" pInputText class="input"> <br>
    </div>
    <div class="p-field" class="campo">
        <label for="senha" class="label">Senha</label> <br>
        <input id="senha" type="password" [(ngModel)]="usuario.senha" pInputText pInputText 
        pTooltip="A senha deve ter de 4 a 10 caracteres, contendo ao menos 1 maiúsculo, 1 minúsculo, 1 número e 
        1 caracter especial." 
        tooltipPosition="right" tooltipEvent="focus" showDelay="200" hideDelay="200" class="input"> <br>
    </div>
    <div class="p-field" class="campo">
        <label for="dataDeNascimento" class="label">Data de nascimento</label>
        <p-calendar [(ngModel)]="usuario.dataDeNascimento" dateFormat="dd/mm/yy" [yearNavigator]="true" 
        [monthNavigator]="true" yearRange="1908:2015"></p-calendar>
    </div>
    <button pButton type="button" label={{textoBotao}} icon={{iconeBotao}} iconPos="right" 
    class="p-button-text p-button-text" (click) = "salvar()" style="margin-top: 0.3rem;"></button>
</div>