#cadastro {
    background: #2a323d;
    border: 1px solid #3f4b5b;
    width: 300px;
    padding: 1rem 1.25rem;
    border-radius: 4px;
    position: relative;
    margin: 0.5rem auto;
}

.campo {
    margin: 0.3rem auto 0.0rem auto;
    width: max-content;
}

.input {
    width: 200px;
}

.label {
    color: white;
}