<div class="card">
  <h5>Usuários</h5>
  <p-table [value]="usuarios" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" styleClass="p-datatable-gridlines"
      currentPageReportTemplate="Exibindo do {first}° até o {last}° de {totalRecords} usuários" [rowsPerPageOptions]="[10,25,50]">
      <ng-template pTemplate="colgroup">
        <colgroup>
            <col style="width:8%">
            <col style="width:15%">
            <col style="width:15%">
            <col style="width:30%">
            <col style="width:16%">
            <col style="width:20%">
            <col style="width:23%">
            <col style="width:12%">
            <col style="width:12%">
        </colgroup>
    </ng-template>
      <ng-template pTemplate="header">
          <tr>
            <th>id</th>
            <th>Nome</th>
            <th>login</th>
            <th>Email</th>
            <th>Data de nascimento</th>
            <th>Data de criação</th>
            <th>Data de atualização</th>
            <th>Excluir</th>
            <th>Editar</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-usuario>
          <tr>
            <td>{{usuario.id}}</td>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.login}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.dataDeNascimento | date: 'dd/MM/yyyy'}}</td>
            <td>{{usuario.dataDeCriacao | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td>{{usuario.dataDeAtualizacao | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td><button pButton type="button" class="p-button-raised p-button-rounded p-button-danger p-button-sm"
              (click) = "excluirUsuario(usuario.id)" icon="pi pi-trash"></button></td>
            <td><button pButton type="button" class="p-button-raised p-button-rounded p-button-warning p-button-sm"
              (click) = "editarUsuario(usuario.id)" icon="pi pi-pencil"></button></td>
          </tr>
      </ng-template>
  </p-table>
</div>