<h1>Hackathon Angular IO</h1>
<p-toolbar>
    <div class="p-toolbar-group-left">
        <p-button [routerLink]="['cadastro']" label="Criar usuário" icon="pi pi-plus" styleClass="p-button-success"></p-button>     
    </div>
    
    <div class="p-toolbar-group-right">
        <p-button [routerLink]="['home']" label="Home" icon="pi pi-home" class="botao"></p-button>
        <p-button [routerLink]="['emails']" label="Provedores de email" icon="pi pi-comment" class="botao"></p-button>
        <p-button [routerLink]="['aniversariantes']" label="Aniversariantes" icon="pi pi-search" class="botao"></p-button>
        <p-button [routerLink]="['inicial']" label="Buscar usuários pela inicial" icon="pi pi-search" class="botao"></p-button>
    </div>
</p-toolbar>
<router-outlet></router-outlet>